TELEGRAM_BOT_TOKEN=

NOTION_API_KEY=
NOTION_MOVIES_DATABASE_ID=
NOTION_GAMES_DATABASE_ID=

TMDB_API_KEY=

SUPA_URL=
SUPA_SECRET_KEY=
# Telegram secret_token only allows A-Z, a-z, 0-9, _ and -
SUPA_FUNCTION_SECRET=

IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=

SESSION_STORE_DRIVER=supabase