TELEGRAM_BOT_TOKEN=

# Telegram secret_token only allows A-Z, a-z, 0-9, _ and -
SUPA_FUNCTION_SECRET=

NOTION_API_KEY=
NOTION_DATABASE_ID=

TMDB_API_KEY=

SUPA_URL=
SUPA_SECRET_KEY=

SESSION_STORE_DRIVER=memory